/* css navbar section */
@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
/* font-family: 'Amiri', serif; */

.navbarfahri {
    position: fixed;
    top: 5%;
    right: 2.5%;
    z-index: 10;
}
.navbarfahri .ulmenu {
    list-style: none;
    text-align: right;
}
.navbarfahri .ulmenu li a {
    text-align: right;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    color: skyblue;
    font-family: "Amiri", serif;
    font-style: italic;
    transition: all 0.3s ease-in-out;
}

.navbarfahri .ulmenu li a:hover {
    color: rgb(92, 138, 156);
}

.navbarfahri .ulmenu li .navbarDownloadCV {
    transition: all 0.3s ease-in-out;
    color: #19f9d8;
}

.navbarfahri .ulmenu li .navbarDownloadCV:hover {
    color: #38bfaa;
}

/* end of css navbar section */

/* time to responsive  */

@media screen and (max-width: 900px) {
    .navbarfahri {
        display: none;
    }
}

/* end of  responsive  */
