{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "insertPragma": false,
  "singleAttributePerLine": true,
  "bracketSameLine": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 240,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 3,
  "trailingComma": "all",
  "useTabs": true,
  "embeddedLanguageFormatting": "auto",
  "vueIndentScriptAndStyle": false,
  "experimentalTernaries": false,
  "objectWrap": "preserve",
  "experimentalOperatorPosition": "end",
  "filepath": "/Users/zulkarnaenfhr/Code/Portofolio/zulkarnaenfhr.github.io/src/Portofolio-Website-Fahri/Container/2. HomeSection/HomeSection.jsx",
  "parser": "babel"
}