@import url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap");
/* font-family: 'Jaldi', sans-serif;  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap");
/* font-family: 'Roboto', sans-serif; */

.load-show-workingExperience {
    transition: all 1250ms linear;
    display: block;
    animation: fade-in 1s;
}

.load-hide-workingExperience {
    display: none;
    animation: fade-out 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.experience {
    padding-top: 50px;
    width: 100vw;
    color: white;
    font-family: "Jaldi", sans-serif;
    height: fit-content !important;
}

.experienceContent {
    display: flex;
}

.position {
    color: #ccd6f6;
    font-size: 28px;
}

.name {
    color: skyblue;
    font-size: 28px;
    margin-left: 10px;
}

.duration {
    margin-top: -15px;
    color: silver;
    font-size: 18px;
    align-items: center;
}

.description {
    margin-top: -5px;
    color: #fefaf6;
    width: 80%;
    font-size: 18px;
}

.sectionLeftExperience ul li {
    list-style: none;
    margin-left: -30px;
}
.buttonbawah {
    margin-top: -15px;
}
.experienceButton {
    text-align: center;
    width: 250px;
    height: 40px;
    background: rgb(13, 20, 47);
    color: silver;
    margin-bottom: 10px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 21px;
    font-weight: 400;
}

#organizationExperience {
    padding-top: 30px;
}

.sectionRightExperience {
    height: 100px;
    margin-left: 50px;
}

.littleDessertSidoarjo-website {
    color: skyblue;
    letter-spacing: 1px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
}

.littleDessertSidoarjo-website:hover {
    color: #dddad7;
}

/* time to responsive  */
@media only screen and (max-width: 1200px) {
    #organizationExperience {
        margin-top: 30px;
    }
}
@media only screen and (max-width: 995px) {
    #organizationExperience {
        margin-top: 30px;
    }
    .experienceButton {
        font-size: 15px;
        width: 150%;
    }
    .buttonbawah {
        margin-top: -10px;
    }
    .sectionRightExperience {
        margin-left: 50px;
    }
    .position {
        font-size: 23px;
    }
    .name {
        font-size: 17px;
    }
    .duration {
        font-size: 17px;
    }
    .description {
        width: 100%;
        font-size: 15px;
    }
}
@media only screen and (max-width: 768px) {
    #organizationExperience {
        margin-top: 30px;
    }
    .experienceContent {
        display: block;
    }
    .experienceButton {
        width: 100%;
    }
    .buttonbawah {
        margin-top: -10px;
    }
    .sectionRightExperience {
        margin-left: 0px;
        margin-top: -20px;
    }
    .position {
        font-size: 23px;
    }
    .name {
        font-size: 17px;
    }
    .duration {
        font-size: 17px;
    }
    .description {
        width: 100%;
        font-size: 15px;
    }
}
@media only screen and (max-width: 586px) {
    #organizationExperience {
        margin-top: 30px;
    }
    .experienceContent {
        display: block;
    }
    .experienceButton {
        width: 100%;
    }
    .buttonbawah {
        margin-top: -17px;
    }
    .sectionRightExperience {
        margin-left: 0;
        margin-top: -20px;
    }
    .position {
        font-size: 21px;
    }
    .name {
        font-size: 15px;
    }
    .duration {
        font-size: 15px;
    }
    .description {
        width: 100%;
        font-size: 12px;
    }
}
@media only screen and (max-width: 392px) {
    .sectionTitle {
        font-size: 34px;
        font-weight: 500;
    }
    .experienceContent {
        display: block;
    }
    .experienceButton {
        width: 100%;
    }
    .buttonbawah {
        margin-top: -10px;
    }
    .sectionRightExperience {
        margin-left: 0;
        margin-top: -20px;
    }
    .position {
        font-size: 21px;
    }
    .name {
        font-size: 15px;
    }
    .duration {
        font-size: 15px;
    }
    .description {
        width: 100%;
        font-size: 12px;
    }
}
/* end of responsive  */
