@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
/* font-family: 'Fredericka the Great', cursive;  */

@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
/* font-family: 'Amiri', serif; */

/* css home section  */
.hai {
   min-height: 100vh;
   display: flex;
   align-items: center;
}
.nama {
   display: flex;
   align-items: center;
}
.penulisanNama {
   width: 23ch;
   animation: typing 4s steps(23), 0.7s step-end infinite alternate;
   white-space: nowrap;
   overflow: hidden;
   font-family: "Fredericka the Great", cursive;
   font-weight: 300;
   font-size: 75px;
   color: #fefaf6;
}

.eye-container {
   display: flex;
   margin-left: 15px;
}

@keyframes typing {
   from {
      width: 0;
   }
}

@keyframes blink {
   50% {
      border-color: transparent;
   }
}

.eye {
   position: relative;
   display: inline-flex;
   border-radius: 50%;
   height: 30px;
   width: 30px;
   background: skyblue;
}
.eye:after {
   /*pupil*/
   position: absolute;
   bottom: 17px;
   right: 10px;
   width: 10px;
   height: 10px;
   background: black;
   border-radius: 50%;
   content: " ";
}
.eye2 {
   position: relative;
   display: inline-flex;
   border-radius: 50%;
   height: 30px;
   width: 30px;
   background: skyblue;
   margin-left: 15px;
}
.eye2:after {
   /*pupil*/
   position: absolute;
   bottom: 17px;
   right: 10px;
   width: 10px;
   height: 10px;
   background: black;
   border-radius: 50%;
   content: " ";
}

.bawahNama {
   font-family: "Amiri", serif;
   font-size: 55px;
   font-style: italic;
   color: rgb(202, 201, 201);
}

.whoAmI {
   font-family: "Amiri", serif;
   font-size: 25px;
   width: 60%;
   color: rgb(149, 147, 147);
}

/* end of css home section  */

/* time to responsive  */
@media only screen and (max-width: 1400px) {
   .penulisanNama {
      font-size: 68px;
   }
   .bawahNama {
      font-size: 54.4px;
   }
   .whoAmI {
      font-size: 22.5px;
   }
   .eye {
      display: none;
   }
   .eye1:after {
      display: none;
   }
   .eye2 {
      display: none;
   }
   .eye2:after {
      display: none;
   }
}
@media only screen and (max-width: 1200px) {
   .penulisanNama {
      font-size: 55px;
   }
   .bawahNama {
      font-size: 43.52px;
   }
   .whoAmI {
      font-size: 19px;
   }
   .eye {
      display: none;
   }
   .eye1:after {
      display: none;
   }
   .eye2 {
      display: none;
   }
   .eye2:after {
      display: none;
   }
}
@media only screen and (max-width: 992px) {
   .penulisanNama {
      font-size: 45px;
   }
   .bawahNama {
      font-size: 35px;
   }
   .whoAmI {
      font-size: 19px;
   }
   .eye {
      display: none;
   }
   .eye1:after {
      display: none;
   }
   .eye2 {
      display: none;
   }
   .eye2:after {
      display: none;
   }
}
@media only screen and (max-width: 800px) {
   .penlusanNama {
      font-size: 43px;
   }
   .whoAmI {
      width: 80%;
   }
}
@media only screen and (max-width: 765px) {
   .zulkarnaen {
      display: none;
   }
   .penulisanNama {
      width: 14ch;
      font-weight: 500;
      font-size: 60px;
   }
   .bawahNama {
      font-size: 35px;
   }
   .whoAmI {
      width: 100%;
      font-size: 25px;
   }
   .eye {
      display: none;
   }
   .eye1:after {
      display: none;
   }
   .eye2 {
      display: none;
   }
   .eye2:after {
      display: none;
   }
}
@media only screen and (max-width: 563px) {
   .hai-content {
      margin-top: 0px;
   }
   .zulkarnaen {
      display: none;
   }
   .penulisanNama {
      width: 14ch;
      font-weight: 500;
      font-size: 40px;
   }
   .bawahNama {
      font-size: 22px;
   }
   .whoAmI {
      width: 90%;
      font-size: 14px;
   }
   .eye {
      display: none;
   }
   .eye1:after {
      display: none;
   }
   .eye2 {
      display: none;
   }
   .eye2:after {
      display: none;
   }
}
@media only screen and (max-width: 392px) {
   .zulkarnaen {
      display: none;
   }
   .penulisanNama {
      width: 15ch;
      font-weight: 500;
      font-size: 30px;
   }
   .bawahNama {
      font-size: 15px;
   }
   .whoAmI {
      width: 95%;
      font-size: 12px;
   }
   .eye {
      display: none;
   }
   .eye1:after {
      display: none;
   }
   .eye2 {
      display: none;
   }
   .eye2:after {
      display: none;
   }
}
/* end of responsive  */
